language: php
php:
- 7.1
- 7.2
sudo: required
notifications:
  email:
    on_success: never
    on_failure: change
branches:
  only:
  - dev
  - "/\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
env:
- WP_VERSION=latest
cache:
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - node_modules
  - vendor
before_install:
- sudo apt-get -qq update
install:
- composer install
before_script:
- if [[ ${TRAVIS_PHP_VERSION:0:3} != "7.1" ]] && php -v | grep -q 'Xdebug'; then phpenv
  config-rm xdebug.ini; fi
- bash bin/install-wp-tests.sh pbt_test root '' localhost $WP_VERSION
script:
- vendor/bin/phpunit --configuration phpunit.xml
before_deploy:
- export TRAVIS_PROJECT_SLUG="$(basename $TRAVIS_BUILD_DIR)"
- curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
- chmod +x wp-cli.phar
- sudo mv wp-cli.phar /usr/local/bin/wp
- wp package install wp-cli/dist-archive-command
- composer install --no-dev --optimize-autoloader
- cd ../
- wp dist-archive $TRAVIS_PROJECT_SLUG $TRAVIS_BUILD_DIR/$TRAVIS_PROJECT_SLUG-$TRAVIS_TAG.zip
- cd $TRAVIS_BUILD_DIR
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: IDWBVAtZPbJC6Xn0t8s4aP+aDEI78SjhIS9XZ+fjpmAd5N/ZFIsU+C+PaIFm9I60h0iyMrGUc2bwFaCwjByxOf5CE7r61lu6EFZaw7Fhm89Eulpv9uvGcBDww1GecmERLMDd0QewjKb3y7vWyuDSKOelJ9dsdQuv21LOQuPMJre7iUtXNap6KJZNl9aCluNh4NUrQ0x8S+/nnxQK4CnyBgGacN6EoNlZo9oeKCw6hT4Y4/QGi/pEXPt5GKyoAHNOBNBXMc1XZS20cXA9dAyi0kAIhshT3VujWVzyxuX/3Yro4908gRyjsw4UC8zLtlsAoKIXUY+uCVG99mJ1a1zVKrYYBEGP8NDZoWllHP/YcIo4YGQyIIOgG9YRaoXmTxZ5QRdx8Xpv0st9NDVNCo5jxB3AyiTlktHBvPjzlTuUqGaZ/f38ZXSwJI0KuiMdbTDMaj6YcQjKJ9HRxRxHLrIdUC601CyGv0DTuzhG9Ohba+p1wuDQZsUhXtuo00YwzZ5B01zbSMm47UVed6qHMhxcBlxe0nhfTrhLbWCBhEJxr+6c/6NNDNqJe2V3t0LCiHzK+SB8LNlm8yktyUp9fiG8xWlHOdwCLJttjV8Nz6l802Y2snaI9l2Kjm7Ngp9EehDPS/dyUc/XCbMYpZeARrkCoCfTQxBdNQEidv3jfnD7ydI=
  file: bc-validate-$TRAVIS_TAG.zip
  on:
    tags: true
    repo: BCcampus/bc-validate
    branch: dev
